
Omegacam-ios.xcworkspace/xcuserdata/richyvm.xcuserdatad/UserInterfaceState.xcuserstate
Omegacam-ios.xcodeproj/xcuserdata/richyvm.xcuserdatad/xcschemes/xcschememanagement.plist
Omegacam-ios.xcodeproj/project.xcworkspace/xcuserdata/richyvm.xcuserdatad/UserInterfaceState.xcuserstate
